<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>
<ul>

<% @location.venues.order(:cached_votes_score => :desc).each do |venue|  %>
  <li><%= link_to venue.name, venue %></li>
  <li><%= venue.cached_votes_up - venue.cached_votes_down %></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
