<p id="notice"><%= notice %></p>

<h1>Cafes</h1>

<div class = "cafe-search">
  <%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont, placeholder: "enter shisha cafe" %>
  <% end %>
</div>

<%= link_to 'New Venue', new_venue_path %>

<div class="container">
  <ul class="row">
    <% @venues.each do |venue| %>
    <li class="venue large-3 medium-4 small-6 columns">
      <%= link_to venue.name do %>
        <ul class="tile">
          <li><%= image_tag venue.logo.thumb.url %></li>
          <li><%= venue.name %></li>
          <li><%= link_to venue.location.name, venue.location %></li>
        </ul>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>


<!--             <li><%#= link_to 'Show', venue %></li>
            <li><%#= link_to 'Edit', edit_venue_path(venue) %></li>
            <li><%#= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <li><%#= link_to 'Edit', edit_venue_path(venue) %></li>
            <li><%#= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->




