<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @venue.logo.thumb.url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location.name %>
</p>

<p>
  <b>Image:</b>
  <%= link_to image_tag(@pics_image_url), @pics_image_url %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>

<p>
  <strong>Reviews:</strong>
  <% @venue.reviews.each do |review| %>
    <h3><%= review.headline %></h3>
    <p><%= review.content %></p>
  <% end %> 
</p>

<p>
  <strong>Photos:</strong>
  <% @venue.images.each do |image| %>
    <%= image_tag image.pics.thumb.url %>
  <% end %>
</p>

<%= link_to "Add a photo", new_image_path %>



