<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location.name %>
</p>

<p>
  <b>Image:</b>
  <%= link_to image_tag(@pics_image.thumb.url), @pics_image.url %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>

<p>
  <strong>Reviews:</strong>
  <% @venue.reviews.each do |review| %>
    <h3><%= review.headline %></h3>
    <p><%= review.content %></p>
  <% end %> 



