<p id="notice"><%= notice %></p>



<div class="background_image" >
  <div class="cafe_info">
    <p>
     <%= image_tag @venue.logo.thumb.url, class: "logo_image" %>
   </p>


   <p> 
    <strong><%= @venue.name %></strong>
  </p>

  <p>
   <%= @venue.description %>
 </p>

 <p>
  <strong>Location:</strong>
  <%= link_to @venue.location.name, @venue.location %>
</p>
</div>
</div>


<p>

  <%= link_to image_tag(@pics_image_url), @pics_image_url %>
</p> 
<div class="small_links">
  <%= link_to 'Edit', edit_venue_path(@venue) %> |
  <%= link_to 'Back', venues_path %>

  <ul>
    <li>
      <%= link_to "like", like_venue_path(@venue[:id]), method: :put %>
      <%= @venue.get_likes.size %>
    </li>

    <li>
      <%= link_to "dislike", dislike_venue_path(@venue[:id]), method: :put %>
      <%= @venue.get_dislikes.size %>
    </li>

    <li>
      <%= link_to "Cancel Vote", unvote_venue_path(@venue[:id]), method: :put %>
    </li>
  </ul>
</div>

<p>
  <ul class="row">
    <% @venue.images.each do |image| %>
    <li class="venue large-4 medium-4 small-6 columns">
      <ul class="tile">
        <li><%= image_tag image.pics.thumb.url %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</p>

<%= link_to "Add a photo", new_image_path, class: "button secondary" %>



<p>
  <strong>Reviews:</strong>
  <% @venue.reviews.each do |review| %>
  <div class="panel">
    <h3><%= review.headline %></h3>
    <p><%= review.content %></p>
  </div>
  <% end %>
  <%= link_to 'Add a Review', new_review_path, class: "button secondary" %>
</p>





