<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<%= link_to 'New Image', new_image_path %>

<ul class="row">
  <% @images.each do |image| %>
    <li class="image large-3 medium-4 small-6 columns">
      <ul class="tile">
        <li><%= image_tag image.pics.thumb.url %></li>
        <li><%= image.caption %></li>
        <li><%= link_to image.venue.name, image.venue %></li>
      </ul>
    </li>
  <% end %>
</ul>


   
  

<!--   <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.pics.thumb.url %></td>
        <td><%= image.caption %></td>
        <td><%= link_to image.venue.name, image.venue %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


<br> -->


