<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cafe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cafe.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @cafe.location %>
</p>

<%= link_to 'Edit', edit_cafe_path(@cafe) %> |
<%= link_to 'Back', caves_path %>
