<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @image.pics_url.to_s %>
  
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>Cafe:</strong>
  <%= @image.venue %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
